Estacionamiento/Estacionamiento/Connected Services/ServiceEstacionamiento/crudEstacionamiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertEstacionamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comuna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="auto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEstacionamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertEstacionamientoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEstacionamientoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEstacionamiento" />
  </wsdl:message>
  <wsdl:message name="InsertEstacionamientoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEstacionamientoResponse" />
  </wsdl:message>
  <wsdl:portType name="crudEstacionamientoSoap">
    <wsdl:operation name="InsertEstacionamiento">
      <wsdl:input message="tns:InsertEstacionamientoSoapIn" />
      <wsdl:output message="tns:InsertEstacionamientoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="crudEstacionamientoSoap" type="tns:crudEstacionamientoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEstacionamiento">
      <soap:operation soapAction="http://tempuri.org/InsertEstacionamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="crudEstacionamientoSoap12" type="tns:crudEstacionamientoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEstacionamiento">
      <soap12:operation soapAction="http://tempuri.org/InsertEstacionamiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="crudEstacionamiento">
    <wsdl:port name="crudEstacionamientoSoap" binding="tns:crudEstacionamientoSoap">
      <soap:address location="http://localhost:53445/crudEstacionamiento.asmx" />
    </wsdl:port>
    <wsdl:port name="crudEstacionamientoSoap12" binding="tns:crudEstacionamientoSoap12">
      <soap12:address location="http://localhost:53445/crudEstacionamiento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>